In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"F:\Git\Machine Learning\DataSheet\amazon_laptop_prices.csv")

In [4]:
df

,brand,model,screen_size,color,harddisk,cpu,ram,OS,special_features,graphics,graphics_coprocessor,cpu_speed,rating,price
0,ROKC,NaN,14 Inches,Blue,1000 GB,Intel Core i7,8 GB,Windows 11,NaN,Integrated,Intel,1.2 GHz,NaN,$589.99
1,HP,NaN,15.6 Inches,Silver,1000 GB,Intel Core i5,64 GB,Windows 11 Pro,Backlit Keyboard,Integrated,Intel,NaN,4.5,$999.99
2,MSI,Vector GP66 12UGS-267,15.66 Inches,Core Black,NaN,Intel Core i9,32 GB,Windows 11 Home,NaN,Dedicated,NaN,1.8 GHz,5.0,"$1,599.00"
3,Apple,MacBook Air,13.3 Inches,Silver,256 GB,Unknown,8 GB,Mac OS,Backlit Keyboard,Integrated,NaN,NaN,4.8,$689.99
4,Apple,MacBook Air,15.3 Inches,Midnight,256 GB,Unknown,8 GB,Mac OS,NaN,Integrated,NaN,NaN,4.8,"$1,144.48"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4441,MSI,Stealth GS66 12UGS-025,15.6 Inches,Core Black,NaN,Intel Core i9,32 GB,Windows 11 Home,NaN,Dedicated,NVIDIA GeForce RTX 3070,1.8 GHz,1.0,"$1,699.00"
4442,ROKC,NaN,14 Inches,Blue,1000 GB,Intel Core i7,8 GB,Windows 11,NaN,Integrated,Intel,1.2 GHz,NaN,$589.99
4443,Dell,Inspiron 3511 Laptop,15.6 Inches,Black,512 GB,Core i3,8 GB,Windows 10 Home,Wifi & Bluetooth,Integrated,NaN,NaN,NaN,$591.99
4444,Dell,Latitude 3420 Laptop,14 Inches,NaN,512 GB,Core i5,8 GB,Windows 10 Pro,NaN,Integrated,Intel Integrated Graphics,0.9 GHz,NaN,"$1,771.99"
4445,Dell,Latitude 5430 Laptop,14 Inches,Black,256 GB,Core i5,NaN,Windows 11 Pro,NaN,Integrated,Intel Integrated Graphics,3.3 GHz,NaN,$938.99

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4446 non-null   object
 1   model                 3282 non-null   object
 2   screen_size           4417 non-null   object
 3   color                 3867 non-null   object
 4   harddisk              3870 non-null   object
 5   cpu                   4346 non-null   object
 6   ram                   4385 non-null   object
 7   OS                    4420 non-null   object
 8   special_features      2054 non-null   object
 9   graphics              4381 non-null   object
 10  graphics_coprocessor  2574 non-null   object
 11  cpu_speed             1520 non-null   object
 12  rating                2174 non-null   float64
 13  price                 4441 non-null   object
dtypes: float64(1), object(13)
memory usage: 486.4+ KB

In [6]:
df.dropna(inplace = True, axis = 0, subset = ["price"])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4441 entries, 0 to 4445
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4441 non-null   object
 1   model                 3277 non-null   object
 2   screen_size           4413 non-null   object
 3   color                 3863 non-null   object
 4   harddisk              3866 non-null   object
 5   cpu                   4341 non-null   object
 6   ram                   4380 non-null   object
 7   OS                    4415 non-null   object
 8   special_features      2051 non-null   object
 9   graphics              4377 non-null   object
 10  graphics_coprocessor  2572 non-null   object
 11  cpu_speed             1520 non-null   object
 12  rating                2170 non-null   float64
 13  price                 4441 non-null   object
dtypes: float64(1), object(13)
memory usage: 520.4+ KB

In [13]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan , strategy = "constant" ,fill_value = "Intel Core i7")
df[["cpu"]] = imputer.fit_transform(df[["cpu"]])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4441 entries, 0 to 4445
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4441 non-null   object
 1   model                 3277 non-null   object
 2   screen_size           4413 non-null   object
 3   color                 3863 non-null   object
 4   harddisk              3866 non-null   object
 5   cpu                   4441 non-null   object
 6   ram                   4380 non-null   object
 7   OS                    4415 non-null   object
 8   special_features      2051 non-null   object
 9   graphics              4377 non-null   object
 10  graphics_coprocessor  2572 non-null   object
 11  cpu_speed             1520 non-null   object
 12  rating                2170 non-null   float64
 13  price                 4441 non-null   object
dtypes: float64(1), object(13)
memory usage: 520.4+ KB

In [17]:
df.drop(columns = ["rating"],inplace = True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4441 entries, 0 to 4445
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4441 non-null   object
 1   model                 3277 non-null   object
 2   screen_size           4413 non-null   object
 3   color                 3863 non-null   object
 4   harddisk              3866 non-null   object
 5   cpu                   4441 non-null   object
 6   ram                   4380 non-null   object
 7   OS                    4415 non-null   object
 8   special_features      2051 non-null   object
 9   graphics              4377 non-null   object
 10  graphics_coprocessor  2572 non-null   object
 11  cpu_speed             1520 non-null   object
 12  price                 4441 non-null   object
dtypes: object(13)
memory usage: 485.7+ KB

In [20]:
df.drop(columns = ["color"],inplace = True)

In [22]:
df.drop(columns = ["special_features"],inplace = True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4441 entries, 0 to 4445
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4441 non-null   object
 1   model                 3277 non-null   object
 2   screen_size           4413 non-null   object
 3   harddisk              3866 non-null   object
 4   cpu                   4441 non-null   object
 5   ram                   4380 non-null   object
 6   OS                    4415 non-null   object
 7   graphics              4377 non-null   object
 8   graphics_coprocessor  2572 non-null   object
 9   cpu_speed             1520 non-null   object
 10  price                 4441 non-null   object
dtypes: object(11)
memory usage: 416.3+ KB

In [24]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "most_frequent")

In [25]:
df[["screen_size"]] = imputer.fit_transform(df[["screen_size"]])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4441 entries, 0 to 4445
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4441 non-null   object
 1   model                 3277 non-null   object
 2   screen_size           4441 non-null   object
 3   harddisk              3866 non-null   object
 4   cpu                   4441 non-null   object
 5   ram                   4380 non-null   object
 6   OS                    4415 non-null   object
 7   graphics              4377 non-null   object
 8   graphics_coprocessor  2572 non-null   object
 9   cpu_speed             1520 non-null   object
 10  price                 4441 non-null   object
dtypes: object(11)
memory usage: 416.3+ KB

# ram column

In [27]:
df["ram"]

0        8 GB
1       64 GB
2       32 GB
3        8 GB
4        8 GB
        ...
4441    32 GB
4442     8 GB
4443     8 GB
4444     8 GB
4445      NaN
Name: ram, Length: 4441, dtype: object

In [28]:
df.dropna(inplace = True, axis = 0, subset= ["ram"])

In [69]:
def fetch_integer(value):
    if value != np.nan:
        return value.split()[0]
    return value

df["integer_ram"] = df["ram"].apply(fetch_integer)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4380 entries, 0 to 4444
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4380 non-null   object
 1   model                 3223 non-null   object
 2   screen_size           4380 non-null   object
 3   harddisk              3811 non-null   object
 4   cpu                   4380 non-null   object
 5   ram                   4380 non-null   object
 6   OS                    4359 non-null   object
 7   graphics              4344 non-null   object
 8   graphics_coprocessor  2536 non-null   object
 9   cpu_speed             1491 non-null   object
 10  price                 4380 non-null   object
 11  integer_ram           4380 non-null   object
dtypes: object(12)
memory usage: 444.8+ KB

In [35]:
df["integer_ram"] = df["integer_ram"].astype(float)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4380 entries, 0 to 4444
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand                 4380 non-null   object
 1   model                 3223 non-null   object
 2   screen_size           4380 non-null   object
 3   harddisk              3811 non-null   object
 4   cpu                   4380 non-null   object
 5   ram                   4380 non-null   object
 6   OS                    4359 non-null   object
 7   graphics              4344 non-null   object
 8   graphics_coprocessor  2536 non-null   object
 9   cpu_speed             1491 non-null   object
 10  price                 4380 non-null   object
 11  integer_ram           4380 non-null   float64
dtypes: float64(1), object(11)
memory usage: 444.8+ KB

In [38]:
df.drop(columns = ["cpu_speed", "graphics_coprocessor"],inplace = True)

In [39]:
df

,brand,model,screen_size,harddisk,cpu,ram,OS,graphics,price,integer_ram
0,ROKC,NaN,14 Inches,1000 GB,Intel Core i7,8 GB,Windows 11,Integrated,$589.99,8.0
1,HP,NaN,15.6 Inches,1000 GB,Intel Core i5,64 GB,Windows 11 Pro,Integrated,$999.99,64.0
2,MSI,Vector GP66 12UGS-267,15.66 Inches,NaN,Intel Core i9,32 GB,Windows 11 Home,Dedicated,"$1,599.00",32.0
3,Apple,MacBook Air,13.3 Inches,256 GB,Unknown,8 GB,Mac OS,Integrated,$689.99,8.0
4,Apple,MacBook Air,15.3 Inches,256 GB,Unknown,8 GB,Mac OS,Integrated,"$1,144.48",8.0
...,...,...,...,...,...,...,...,...,...,...
4440,MSI,Vector GP66 12UGS-267,15.66 Inches,NaN,Intel Core i9,32 GB,Windows 11 Home,Dedicated,"$1,599.00",32.0
4441,MSI,Stealth GS66 12UGS-025,15.6 Inches,NaN,Intel Core i9,32 GB,Windows 11 Home,Dedicated,"$1,699.00",32.0
4442,ROKC,NaN,14 Inches,1000 GB,Intel Core i7,8 GB,Windows 11,Integrated,$589.99,8.0
4443,Dell,Inspiron 3511 Laptop,15.6 Inches,512 GB,Core i3,8 GB,Windows 10 Home,Integrated,$591.99,8.0
4444,Dell,Latitude 3420 Laptop,14 Inches,512 GB,Core i5,8 GB,Windows 10 Pro,Integrated,"$1,771.99",8.0

#  price Column

In [40]:
def dollor_remover(value):
    return value[1::]

df["price"] = df['price'].apply(dollor_remover)

In [45]:
def striping(value):
    return value.strip()

df["price"] = df["price"].apply(striping)

In [48]:
def coma_remover(value):
    s = ""
    for x in value:
        if x != ",":
            s += x
    return s


df["price"] = df["price"].apply(coma_remover)

In [49]:
df["price"] = df["price"].astype(float)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4380 entries, 0 to 4444
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        4380 non-null   object
 1   model        3223 non-null   object
 2   screen_size  4380 non-null   object
 3   harddisk     3811 non-null   object
 4   cpu          4380 non-null   object
 5   ram          4380 non-null   object
 6   OS           4359 non-null   object
 7   graphics     4344 non-null   object
 8   price        4380 non-null   float64
 9   integer_ram  4380 non-null   float64
dtypes: float64(2), object(8)
memory usage: 376.4+ KB

# screensize column

In [51]:
df["screen_size"]

0          14 Inches
1        15.6 Inches
2       15.66 Inches
3        13.3 Inches
4        15.3 Inches
            ...
4440    15.66 Inches
4441     15.6 Inches
4442       14 Inches
4443     15.6 Inches
4444       14 Inches
Name: screen_size, Length: 4380, dtype: object

In [52]:
df["screen_size"] = df["screen_size"].apply(fetch_integer)

In [53]:
df["screen_size"] = df["screen_size"].astype(float)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4380 entries, 0 to 4444
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        4380 non-null   object
 1   model        3223 non-null   object
 2   screen_size  4380 non-null   float64
 3   harddisk     3811 non-null   object
 4   cpu          4380 non-null   object
 5   ram          4380 non-null   object
 6   OS           4359 non-null   object
 7   graphics     4344 non-null   object
 8   price        4380 non-null   float64
 9   integer_ram  4380 non-null   float64
dtypes: float64(3), object(7)
memory usage: 376.4+ KB

# For harddisk column

In [61]:
df["harddisk"]

0       1000 GB
1       1000 GB
2           NaN
3        256 GB
4        256 GB
         ...
4440        NaN
4441        NaN
4442    1000 GB
4443     512 GB
4444     512 GB
Name: harddisk, Length: 4380, dtype: object

In [71]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values = np.nan, strategy = "constant", fill_value = "")

In [72]:
df[["harddisk"]] = imputer.fit_transform(df[["harddisk"]])

In [74]:
def fetch_integer(value):
    if value != "":
        return value.split()[0]
    return value
df["harddisk"] = df["harddisk"].apply(fetch_integer)

In [75]:
df["harddisk"].value_counts("")

harddisk
1000    1325
512      734
         569
256      466
1        313
64       196
1152     177
2000     155
2        123
128      114
32        49
4000      47
500       29
4         26
8000      18
16         8
320        7
8          4
6000       3
480        2
1024       2
240        2
2048       1
1512       1
640        1
1.5        1
300        1
1256       1
160        1
250        1
120        1
65         1
3          1
Name: count, dtype: int64

In [79]:
df = df.drop(df[df["harddisk"] == ""].index)

In [80]:
df

,brand,model,screen_size,harddisk,cpu,ram,OS,graphics,price,integer_ram
0,ROKC,NaN,14.0,1000,Intel Core i7,8 GB,Windows 11,Integrated,589.99,8
1,HP,NaN,15.6,1000,Intel Core i5,64 GB,Windows 11 Pro,Integrated,999.99,64
3,Apple,MacBook Air,13.3,256,Unknown,8 GB,Mac OS,Integrated,689.99,8
4,Apple,MacBook Air,15.3,256,Unknown,8 GB,Mac OS,Integrated,1144.48,8
5,Acer,A315-24P-R7VH,15.6,128,Ryzen 3,8 GB,Windows 11 S,Integrated,299.99,8
...,...,...,...,...,...,...,...,...,...,...
4436,HP,NaN,15.6,1000,Pentium N5000,16 GB,Windows 11,Integrated,459.99,16
4437,Dell,Latitude 3420 Laptop,14.0,2000,Core i5,32 GB,Windows 11 Pro,Nvidia GeForce MX250,1058.99,32
4442,ROKC,NaN,14.0,1000,Intel Core i7,8 GB,Windows 11,Integrated,589.99,8
4443,Dell,Inspiron 3511 Laptop,15.6,512,Core i3,8 GB,Windows 10 Home,Integrated,591.99,8
4444,Dell,Latitude 3420 Laptop,14.0,512,Core i5,8 GB,Windows 10 Pro,Integrated,1771.99,8

In [82]:
df.drop(columns = ["ram"] , inplace = True)

In [83]:
df

,brand,model,screen_size,harddisk,cpu,OS,graphics,price,integer_ram
0,ROKC,NaN,14.0,1000,Intel Core i7,Windows 11,Integrated,589.99,8
1,HP,NaN,15.6,1000,Intel Core i5,Windows 11 Pro,Integrated,999.99,64
3,Apple,MacBook Air,13.3,256,Unknown,Mac OS,Integrated,689.99,8
4,Apple,MacBook Air,15.3,256,Unknown,Mac OS,Integrated,1144.48,8
5,Acer,A315-24P-R7VH,15.6,128,Ryzen 3,Windows 11 S,Integrated,299.99,8
...,...,...,...,...,...,...,...,...,...
4436,HP,NaN,15.6,1000,Pentium N5000,Windows 11,Integrated,459.99,16
4437,Dell,Latitude 3420 Laptop,14.0,2000,Core i5,Windows 11 Pro,Nvidia GeForce MX250,1058.99,32
4442,ROKC,NaN,14.0,1000,Intel Core i7,Windows 11,Integrated,589.99,8
4443,Dell,Inspiron 3511 Laptop,15.6,512,Core i3,Windows 10 Home,Integrated,591.99,8
4444,Dell,Latitude 3420 Laptop,14.0,512,Core i5,Windows 10 Pro,Integrated,1771.99,8

In [84]:
df["graphics"].value_counts()

graphics
Integrated                              2892
Dedicated                                419
Iris Xe Graphics                          89
Nvidia GeForce RTX 4070                   30
Nvidia GeForce RTX 3050 Ti                24
                                        ...
Nvidia GeForce RTX 2070                    1
Integrated intel IRIS Xe Plus GPU          1
GeForce RTX 3080 Ti                        1
GeForce RTX 3070 Ti,Iris Xe Graphics       1
Nvidia GeForce MX350                       1
Name: count, Length: 103, dtype: int64

In [85]:
df.drop(columns = ["graphics"],inplace = True)

In [86]:
df

,brand,model,screen_size,harddisk,cpu,OS,price,integer_ram
0,ROKC,NaN,14.0,1000,Intel Core i7,Windows 11,589.99,8
1,HP,NaN,15.6,1000,Intel Core i5,Windows 11 Pro,999.99,64
3,Apple,MacBook Air,13.3,256,Unknown,Mac OS,689.99,8
4,Apple,MacBook Air,15.3,256,Unknown,Mac OS,1144.48,8
5,Acer,A315-24P-R7VH,15.6,128,Ryzen 3,Windows 11 S,299.99,8
...,...,...,...,...,...,...,...,...
4436,HP,NaN,15.6,1000,Pentium N5000,Windows 11,459.99,16
4437,Dell,Latitude 3420 Laptop,14.0,2000,Core i5,Windows 11 Pro,1058.99,32
4442,ROKC,NaN,14.0,1000,Intel Core i7,Windows 11,589.99,8
4443,Dell,Inspiron 3511 Laptop,15.6,512,Core i3,Windows 10 Home,591.99,8
4444,Dell,Latitude 3420 Laptop,14.0,512,Core i5,Windows 10 Pro,1771.99,8

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3811 entries, 0 to 4444
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3811 non-null   object
 1   model        2686 non-null   object
 2   screen_size  3811 non-null   float64
 3   harddisk     3811 non-null   object
 4   cpu          3811 non-null   object
 5   OS           3807 non-null   object
 6   price        3811 non-null   float64
 7   integer_ram  3811 non-null   object
dtypes: float64(2), object(6)
memory usage: 268.0+ KB

In [88]:
df["model"].value_counts()

model
Inspiron                     159
Ideapad 3                    146
Inspiron 3511 Laptop          99
Latitude 5520 Laptop          92
Latitude 3520 Laptop          57
                            ...
300e-convertible               1
Dell G16 7620                  1
CreatorPro X17 A12UKS-059      1
E410MA-TB.CL464                1
Inspiron 3510 Laptop           1
Name: count, Length: 985, dtype: int64

# For OS column in dataframe

In [89]:
df["OS"].value_counts()

OS
Windows 11                                                                  1193
Windows 11 Pro                                                               877
Windows 11 Home                                                              582
Windows 10 Home                                                              408
Windows 10 Pro                                                               405
Windows 10                                                                   120
Chrome OS                                                                     96
Mac OS                                                                        16
Windows 11 S                                                                  13
Windows 7 Professional                                                        11
Windows 10 S                                                                  10
Windows 10 Pro 64 Bit Multi-Language Support English/French/Spanish            9
Windows 7                                                                      9
Windows 10 Pro 64 Bit-Multi-Language Support English/French/Spanish.           9
Windows 8                                                                      7
macOS 12 Monterey                                                              6
Windows                                                                        5
Windows 10 Home 64                                                             3
Windows 8.1                                                                    2
Win 10 Pro 64 Bit Multi-Language Support English/French/Spanish(Renewed)       2
Windows 10 Pro 64-Bit                                                          2
Windows 11 Home S                                                              2
macOS 10.12 Sierra                                                             2
macOS 10.14 Mojave                                                             2
Windows 10 Professional 64-bit                                                 1
Microsoft Windows 10 Professional (64bit)                                      1
Win 10 Pro / Free upgrade to Win 11                                            1
Windows 10 DG Windows 7 Pro 64                                                 1
Win 10 Pro 64 Bit Multi-Language Support English/French/Spanish                1
Win 11 Multi-Home                                                              1
Windows 10 Pro (English/French/Spanish)                                        1
Windows 10 Pro (64-Bit)                                                        1
Windows 10 Pro 64 Bit-Multi-Language Supports English/Spanish/French           1
Windows 10 64 Bit-Multi-Language Supports English/Spanish/French               1
Win 10 Multi-language /Free upgrade to Win 11                                  1
Windows 7 Pro + 10 Pro                                                         1
Windows 11 Home in S Mode                                                      1
PC                                                                             1
Windows 7 Home Premium                                                         1
Windows 10 S, Windows 10                                                       1
Name: count, dtype: int64

In [93]:
def win_identifier(value):
    if type(value) == float:
        return np.nan;
    elif "Win" in value:
        return "Win"
    return value
df["OS"] = df["OS"].apply(win_identifier)

In [95]:
df["OS"].value_counts()

OS
Win                   3684
Chrome OS               96
Mac OS                  16
macOS 12 Monterey        6
macOS 10.14 Mojave       2
macOS 10.12 Sierra       2
PC                       1
Name: count, dtype: int64

In [96]:
def mac_identifier(value):
    if type(value) == float:
        return np.nan;
    elif "mac" in value or "Mac" in value:
        return "Mac"
    return value
df["OS"] = df["OS"].apply(mac_identifier)

In [97]:
df["OS"].value_counts()

OS
Win          3684
Chrome OS      96
Mac            26
PC              1
Name: count, dtype: int64

In [98]:
df.dropna(inplace = True , axis = 0, subset = ["OS"])

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3807 entries, 0 to 4444
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3807 non-null   object
 1   model        2683 non-null   object
 2   screen_size  3807 non-null   float64
 3   harddisk     3807 non-null   object
 4   cpu          3807 non-null   object
 5   OS           3807 non-null   object
 6   price        3807 non-null   float64
 7   integer_ram  3807 non-null   object
dtypes: float64(2), object(6)
memory usage: 267.7+ KB

In [100]:
df["OS"].value_counts()

OS
Win          3684
Chrome OS      96
Mac            26
PC              1
Name: count, dtype: int64

In [102]:
df = df.drop(df[df["OS"] == "PC"].index)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3806 entries, 0 to 4444
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3806 non-null   object
 1   model        2683 non-null   object
 2   screen_size  3806 non-null   float64
 3   harddisk     3806 non-null   object
 4   cpu          3806 non-null   object
 5   OS           3806 non-null   object
 6   price        3806 non-null   float64
 7   integer_ram  3806 non-null   object
dtypes: float64(2), object(6)
memory usage: 267.6+ KB

In [104]:
df

,brand,model,screen_size,harddisk,cpu,OS,price,integer_ram
0,ROKC,NaN,14.0,1000,Intel Core i7,Win,589.99,8
1,HP,NaN,15.6,1000,Intel Core i5,Win,999.99,64
3,Apple,MacBook Air,13.3,256,Unknown,Mac,689.99,8
4,Apple,MacBook Air,15.3,256,Unknown,Mac,1144.48,8
5,Acer,A315-24P-R7VH,15.6,128,Ryzen 3,Win,299.99,8
...,...,...,...,...,...,...,...,...
4436,HP,NaN,15.6,1000,Pentium N5000,Win,459.99,16
4437,Dell,Latitude 3420 Laptop,14.0,2000,Core i5,Win,1058.99,32
4442,ROKC,NaN,14.0,1000,Intel Core i7,Win,589.99,8
4443,Dell,Inspiron 3511 Laptop,15.6,512,Core i3,Win,591.99,8
4444,Dell,Latitude 3420 Laptop,14.0,512,Core i5,Win,1771.99,8

In [105]:
df.drop(columns = ["model"] , inplace = True , axis = 1)

In [106]:
df

      brand  screen_size harddisk            cpu   OS    price integer_ram
0      ROKC         14.0     1000  Intel Core i7  Win   589.99           8
1        HP         15.6     1000  Intel Core i5  Win   999.99          64
3     Apple         13.3      256        Unknown  Mac   689.99           8
4     Apple         15.3      256        Unknown  Mac  1144.48           8
5      Acer         15.6      128        Ryzen 3  Win   299.99           8
...     ...          ...      ...            ...  ...      ...         ...
4436     HP         15.6     1000  Pentium N5000  Win   459.99          16
4437   Dell         14.0     2000        Core i5  Win  1058.99          32
4442   ROKC         14.0     1000  Intel Core i7  Win   589.99           8
4443   Dell         15.6      512        Core i3  Win   591.99           8
4444   Dell         14.0      512        Core i5  Win  1771.99           8

[3806 rows x 7 columns]

# CPU  Column

In [107]:
df["cpu"].value_counts()

cpu
Core i7            762
Intel Core i5      569
Core i5            566
Intel Core i7      451
Pentium            191
                  ...
Core i7-13700K       1
Core i3 8130U        1
Core i7-2620QM       1
Intel Pentium 4      1
Core i7-620M         1
Name: count, Length: 131, dtype: int64

In [115]:
def cpu_setter(value):
    if  "Core i" in value or "Intel" in value:
        return "Intel"
    return value

df["cpu"] = df["cpu"].apply(cpu_setter)

In [116]:
df["cpu"].value_counts()

cpu
Intel                2927
Pentium               191
Pentium N5000         172
Celeron N4000         142
AMD Ryzen 7            64
                     ...
Cortex                  1
Ryzen 5 5500U           1
AMD Ryzen 3 2300X       1
ARM 7100                1
Core 2 Duo P8700        1
Name: count, Length: 67, dtype: int64

In [120]:
def ryzen_setter(value):
    if  "Ryzen" in value:
        return "Ryzen"
    return value

df["cpu"] = df["cpu"].apply(ryzen_setter)

In [121]:
df["cpu"].value_counts()

cpu
Intel                            2927
Pentium                           191
Ryzen                             174
Pentium N5000                     172
Celeron N4000                     142
Celeron                            49
Celeron N                          16
Celeron N4020                      15
AMD R Series                       12
Unknown                            10
AMD A Series                       10
Corei7-10750H                       9
MediaTek MT8183                     7
Apple M1                            6
Celeron N3350                       5
8032                                5
Core I7 11800H                      4
Athlon                              4
Celeron N3450                       4
Core I3 1115G4                      4
Others                              3
MediaTek_MT8127                     3
1.2GHz Cortex A8 Processor          3
Snapdragon                          3
Core M Family                       2
AMD A4                              2
A-Series                            2
Core I7 12700H                      2
Apple M2 Max                        2
Pentium Other                       2
Athlon Silver 3050U                 2
Corei7-10875H                       1
A10-7700K                           1
Apple M2                            1
Atom Z8350                          1
1.2GHz Cortex A13 Processor         1
AMD Kabini A6-5200M Quad Core       1
Core 2 Duo P8700                    1
Celeron P4500                       1
core_m                              1
ARM 7100                            1
Celeron N2840                       1
MediaTek Helio P60T                 1
Cortex                              1
Pentium N3540                       1
Name: count, dtype: int64

In [122]:
def cpu_setter(value):
    if  "Core" in value or "Intel" in value:
        return "Intel"
    return value

df["cpu"] = df["cpu"].apply(cpu_setter)

In [123]:
df["cpu"].value_counts()

cpu
Intel                          2951
Pentium                         191
Ryzen                           174
Pentium N5000                   172
Celeron N4000                   142
Celeron                          49
Celeron N                        16
Celeron N4020                    15
AMD R Series                     12
Unknown                          10
AMD A Series                     10
MediaTek MT8183                   7
Apple M1                          6
8032                              5
Celeron N3350                     5
Athlon                            4
Celeron N3450                     4
1.2GHz Cortex A8 Processor        3
Snapdragon                        3
Others                            3
MediaTek_MT8127                   3
Athlon Silver 3050U               2
Pentium Other                     2
Apple M2 Max                      2
AMD A4                            2
A-Series                          2
Atom Z8350                        1
A10-7700K                         1
1.2GHz Cortex A13 Processor       1
Apple M2                          1
core_m                            1
Cortex                            1
Celeron P4500                     1
Celeron N2840                     1
MediaTek Helio P60T               1
ARM 7100                          1
Pentium N3540                     1
Name: count, dtype: int64

In [124]:
def celeron_setter(value):
    if  "Celeron" in value:
        return "Celeron"
    return value

df["cpu"] = df["cpu"].apply(celeron_setter)

In [125]:
df["cpu"].value_counts()

cpu
Intel                          2951
Celeron                         233
Pentium                         191
Ryzen                           174
Pentium N5000                   172
AMD R Series                     12
Unknown                          10
AMD A Series                     10
MediaTek MT8183                   7
Apple M1                          6
8032                              5
Athlon                            4
Snapdragon                        3
MediaTek_MT8127                   3
1.2GHz Cortex A8 Processor        3
Others                            3
AMD A4                            2
Pentium Other                     2
Apple M2 Max                      2
A-Series                          2
Athlon Silver 3050U               2
Atom Z8350                        1
A10-7700K                         1
1.2GHz Cortex A13 Processor       1
core_m                            1
Apple M2                          1
ARM 7100                          1
MediaTek Helio P60T               1
Cortex                            1
Pentium N3540                     1
Name: count, dtype: int64

In [126]:
def pentium_setter(value):
    if  "Pentium" in value:
        return "Pentium"
    return value

df["cpu"] = df["cpu"].apply(pentium_setter)

In [130]:
df["cpu"].value_counts()

cpu
Intel                          2951
Pentium                         366
Celeron                         233
Ryzen                           174
AMD R Series                     12
AMD A Series                     10
Unknown                          10
MediaTek MT8183                   7
Apple M1                          6
8032                              5
Athlon                            4
1.2GHz Cortex A8 Processor        3
Snapdragon                        3
Others                            3
MediaTek_MT8127                   3
Apple M2 Max                      2
AMD A4                            2
A-Series                          2
Athlon Silver 3050U               2
Apple M2                          1
1.2GHz Cortex A13 Processor       1
A10-7700K                         1
Cortex                            1
core_m                            1
MediaTek Helio P60T               1
ARM 7100                          1
Atom Z8350                        1
Name: count, dtype: int64

In [131]:
def AMD_setter(value):
    if  "AMD" in value:
        return "AMD"
    return value

df["cpu"] = df["cpu"].apply(AMD_setter)

In [132]:
df["cpu"].value_counts()

cpu
Intel                          2951
Pentium                         366
Celeron                         233
Ryzen                           174
AMD                              24
Unknown                          10
MediaTek MT8183                   7
Apple M1                          6
8032                              5
Athlon                            4
MediaTek_MT8127                   3
Others                            3
Snapdragon                        3
1.2GHz Cortex A8 Processor        3
Apple M2 Max                      2
A-Series                          2
Athlon Silver 3050U               2
ARM 7100                          1
Cortex                            1
MediaTek Helio P60T               1
core_m                            1
Apple M2                          1
1.2GHz Cortex A13 Processor       1
A10-7700K                         1
Atom Z8350                        1
Name: count, dtype: int64

In [133]:
def media_setter(value):
    if  "Media" in value:
        return "Media"
    return value

df["cpu"] = df["cpu"].apply(media_setter)

In [134]:
df["cpu"].value_counts()

cpu
Intel                          2951
Pentium                         366
Celeron                         233
Ryzen                           174
AMD                              24
Media                            11
Unknown                          10
Apple M1                          6
8032                              5
Athlon                            4
Others                            3
Snapdragon                        3
1.2GHz Cortex A8 Processor        3
Apple M2 Max                      2
A-Series                          2
Athlon Silver 3050U               2
ARM 7100                          1
Cortex                            1
core_m                            1
Apple M2                          1
1.2GHz Cortex A13 Processor       1
A10-7700K                         1
Atom Z8350                        1
Name: count, dtype: int64

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3806 entries, 0 to 4444
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3806 non-null   object
 1   screen_size  3806 non-null   float64
 2   harddisk     3806 non-null   object
 3   cpu          3806 non-null   object
 4   OS           3806 non-null   object
 5   price        3806 non-null   float64
 6   integer_ram  3806 non-null   object
dtypes: float64(2), object(5)
memory usage: 237.9+ KB

In [140]:
df = df.drop(df[df["cpu"] == "Unknown"].index)

In [141]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3796 entries, 0 to 4444
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3796 non-null   object
 1   screen_size  3796 non-null   float64
 2   harddisk     3796 non-null   object
 3   cpu          3796 non-null   object
 4   OS           3796 non-null   object
 5   price        3796 non-null   float64
 6   integer_ram  3796 non-null   object
dtypes: float64(2), object(5)
memory usage: 237.2+ KB

In [142]:
df

     brand  screen_size harddisk      cpu         OS    price integer_ram
0     ROKC         14.0     1000    Intel        Win   589.99           8
1       HP         15.6     1000    Intel        Win   999.99          64
5     Acer         15.6      128    Ryzen        Win   299.99           8
7     Acer         15.6       64  Celeron  Chrome OS   239.99           4
8     ASUS         16.0      512    Intel        Win  1274.03          16
...    ...          ...      ...      ...        ...      ...         ...
4436    HP         15.6     1000  Pentium        Win   459.99          16
4437  Dell         14.0     2000    Intel        Win  1058.99          32
4442  ROKC         14.0     1000    Intel        Win   589.99           8
4443  Dell         15.6      512    Intel        Win   591.99           8
4444  Dell         14.0      512    Intel        Win  1771.99           8

[3796 rows x 7 columns]

In [143]:
df["brand"].value_counts()

brand
Dell                             1490
HP                                759
ROKC                              636
Lenovo                            259
ASUS                              147
DELL                              146
acer                               95
MSI                                66
LG                                 37
Apple                              23
SAMSUNG                            18
Panasonic                          12
Acer                               11
Microsoft                          11
Alienware                          11
Gigabyte                           11
Toughbook                          11
LENOVO                              6
hp                                  4
Razer                               4
Latitude                            3
lenovo                              3
IVIEW                               2
CTL                                 2
Computer Upgrade King               2
Asus                                2
SHOXLAB                             2
dell                                2
Quality Refurbished Computers       2
Gateway                             2
asus                                1
Tocosy                              1
MAINGEAR                            1
JTD                                 1
GizPro                              1
XAMMUE                              1
MICROTELLA                          1
AWOW                                1
Luqeeg                              1
VAIO                                1
ONN                                 1
Goldengulf                          1
LPT                                 1
Best Notebooks                      1
Corsair                             1
Carlisle FoodService Products       1
Mytrix                              1
Name: count, dtype: int64

In [145]:
def change_case(value):
    value.lower()
    return value.capitalize()
   
df["brand"] = df["brand"].apply(change_case)

In [147]:
df["brand"].value_counts()

brand
Dell                             1638
Hp                                763
Rokc                              636
Lenovo                            268
Asus                              150
Acer                              106
Msi                                66
Lg                                 37
Apple                              23
Samsung                            18
Panasonic                          12
Microsoft                          11
Gigabyte                           11
Toughbook                          11
Alienware                          11
Razer                               4
Latitude                            3
Iview                               2
Shoxlab                             2
Ctl                                 2
Computer upgrade king               2
Quality refurbished computers       2
Gateway                             2
Jtd                                 1
Tocosy                              1
Maingear                            1
Gizpro                              1
Xammue                              1
Luqeeg                              1
Microtella                          1
Awow                                1
Vaio                                1
Onn                                 1
Goldengulf                          1
Lpt                                 1
Best notebooks                      1
Corsair                             1
Carlisle foodservice products       1
Mytrix                              1
Name: count, dtype: int64

In [148]:
df

     brand  screen_size harddisk      cpu         OS    price integer_ram
0     Rokc         14.0     1000    Intel        Win   589.99           8
1       Hp         15.6     1000    Intel        Win   999.99          64
5     Acer         15.6      128    Ryzen        Win   299.99           8
7     Acer         15.6       64  Celeron  Chrome OS   239.99           4
8     Asus         16.0      512    Intel        Win  1274.03          16
...    ...          ...      ...      ...        ...      ...         ...
4436    Hp         15.6     1000  Pentium        Win   459.99          16
4437  Dell         14.0     2000    Intel        Win  1058.99          32
4442  Rokc         14.0     1000    Intel        Win   589.99           8
4443  Dell         15.6      512    Intel        Win   591.99           8
4444  Dell         14.0      512    Intel        Win  1771.99           8

[3796 rows x 7 columns]

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3796 entries, 0 to 4444
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3796 non-null   object
 1   screen_size  3796 non-null   float64
 2   harddisk     3796 non-null   object
 3   cpu          3796 non-null   object
 4   OS           3796 non-null   object
 5   price        3796 non-null   float64
 6   integer_ram  3796 non-null   object
dtypes: float64(2), object(5)
memory usage: 237.2+ KB

In [151]:
df["integer_ram"] = df["integer_ram"].astype(float)

In [152]:
df

     brand  screen_size harddisk      cpu         OS    price  integer_ram
0     Rokc         14.0     1000    Intel        Win   589.99          8.0
1       Hp         15.6     1000    Intel        Win   999.99         64.0
5     Acer         15.6      128    Ryzen        Win   299.99          8.0
7     Acer         15.6       64  Celeron  Chrome OS   239.99          4.0
8     Asus         16.0      512    Intel        Win  1274.03         16.0
...    ...          ...      ...      ...        ...      ...          ...
4436    Hp         15.6     1000  Pentium        Win   459.99         16.0
4437  Dell         14.0     2000    Intel        Win  1058.99         32.0
4442  Rokc         14.0     1000    Intel        Win   589.99          8.0
4443  Dell         15.6      512    Intel        Win   591.99          8.0
4444  Dell         14.0      512    Intel        Win  1771.99          8.0

[3796 rows x 7 columns]

In [154]:
df["harddisk"] = df["harddisk"].astype(float)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3796 entries, 0 to 4444
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        3796 non-null   object
 1   screen_size  3796 non-null   float64
 2   harddisk     3796 non-null   float64
 3   cpu          3796 non-null   object
 4   OS           3796 non-null   object
 5   price        3796 non-null   float64
 6   integer_ram  3796 non-null   float64
dtypes: float64(4), object(3)
memory usage: 237.2+ KB

In [ ]:
df.to_csv("refined_")